.wrapper{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #aaa;
  border-radius: 50px;
  margin-top: 200px;
  min-width: 89.5%;
  max-width: 89.5%;
}
.pushin{
  background-color: #98ee78;
  position: absolute;
  top: 90px;
  left: 400px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
}
.rollin {
  background-color: #98ee78;
  position: absolute;
  top: 90px;
  left: 500px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
}
.addin {
  background-color: #98ee78;
  position: absolute;
  top: 90px;
  left: 600px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
}
#baseDiv {
  background-color: #eee;
  width: 200px;
  height: 200px;
  border-radius: 26px;
}
#upDiv {
  background-color: #eee;
  width: 200px;
  height: 200px;
  border-radius: 26px;
}
.stubborn {
  text-align: center;
  line-height: 160px;
}
.thinger {
  perspective: 1500;
}

.hook {
  color: #fff;
  position: relative;
  text-align: center;
  margin: 20px;
  width: 200px;
  height: 200px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}
#baseDiv, #upDiv {
  border: 4px dashed #000;
  position: absolute;
  background-color: #8cf;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}
#baseDiv {
  background-color: #8cf;
  background-size: cover;
}
#upDiv {
  transform: rotateY(180deg);
}
.noodle:hover {
  transform: rotateY(180deg);
}
.select {
  position: absolute;
  top: 89px;
  left: 80px;
}
.whisper {
  font-size: 40px;
  text-align: inherit;
  line-height: 120px;
}
p {
  text-align: inherit;
  line-height: 160px;
}