body {
  background-color: #566
}
.imagine {
  display: none;
}
.pepsi{
  background-color: #00f;
  height: 25px;
  width: 25px;
  border-radius:50px; 
  margin-top: 9px;
  margin-left: 160px;
}
.pepsi:hover{
  background-color: #f00;
}
.pizza{
  background-color: #000;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 40px;
  margin: 5% 35% 0 40%;
  border-radius: 50px;
}
.wrapper{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #aaa;
  border-radius: 50px;
  margin-top: 200px;
  min-height: 245px;
  min-width: 89.5%;
  max-width: 89.5%;
  margin-left: 5%;
}
.pushin{
  background-color: #98ee78;
  width: 80px;
  border-radius: 10px;
}
.rollin {
  background-color: #98ee78;
  width: 80px;
  border-radius: 10px;
}
.takin{
  background-color: #98ee78;
  width: 80px;
  border-radius: 10px;
}
.addin {
  background-color: #98ee78;
  width: 80px;
  border-radius: 10px;
}
#baseDiv {
  background-color: #eee;
  width: 200px;
  height: 200px;
  border-radius: 26px;
}
.baseDiv {
  background-color: #eee;
  width: 200px;
  height: 200px;
  border-radius: 26px;
}
#upDiv {
  background-color: #eee;
  width: 200px;
  height: 200px;
  border-radius: 26px;
}
.upDiv {
  background-color: #eee;
  width: 200px;
  height: 200px;
  border-radius: 26px;
}
.stubborn {
  text-align: center;
  line-height: 160px;
}
.thinger {
  perspective: 1500;
}
.holder {
  perspective: 5000;
}
.hook {
  color: #fff;
  position: relative;
  text-align: center;
  margin: 20px;
  width: 200px;
  height: 200px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}
#baseDiv, #upDiv {
  border: 4px dashed #000;
  position: absolute;
  background-color: #8cf;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}
.baseDiv, .upDiv {
  border: 4px dashed #000;
  position: absolute;
  background-color: #909;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}
#upDiv {
  transform: rotateY(180deg);
}
.upDiv {
  transform: rotateY(180deg);
}
.noodle:hover {
  transform: rotateY(180deg);
}
.select {
  position: absolute;
  top: 89px;
  left: 80px;
}
.whisper {
  font-size: 40px;
  text-align: inherit;
  line-height: 120px;
}
p {
  text-align: inherit;
  line-height: 160px;
}